<p>detailgenre works!</p>
<h2>Genre Details</h2>
<table class="table table-striped">
    <!-- <tr><td>GenreId</td>{{thisGenre.genreId}}</tr>
    <tr><td>GenreCode</td>{{thisGenre.genreCode}}</tr>
    <tr><td>GenreDesc</td>{{thisGenre.genreDesc}}</tr> -->
    <tr><td> Emp Id</td>{{thisEmp.empId}}</tr>
    <tr><td>Emp FName</td>{{thisEmp.empFirstName}}</tr>
    <tr><td>Emp LName</td>{{thisEmp.empLastName}}</tr>
    <tr><td>Emp Dob</td>{{thisEmp.empDob}}</tr>
    <tr><td>Emp Address</td>{{thisEmp.empAddress}}</tr>
    <tr><td>Emp Contact</td>{{thisEmp.empContact}}</tr>
</table>
