<p>detail-travelreq works!</p>

<h2>TravelRequest Details</h2>
<table class="table table-striped">
    <tr><td>RequestId</td>{{thisTravel.requestId}}</tr>
    <tr><td>Emp Id</td>{{thisTravel.empId}}</tr>
    <tr><td>LocationFrom</td>{{thisTravel.locFrom}}</tr>
    <tr><td>LocationTo</td>{{thisTravel.locTo}}</tr>
    <tr><td>Approaval Status</td>{{thisTravel.approvalStatus}}</tr>
    <tr><td>Booking Status</td>{{thisTravel.bookingStatus}}</tr>
    <tr><td>currentStatus</td>{{thisTravel.currentStatus}}</tr>
    <tr><td>Request date</td>{{thisTravel.reqDate}}</tr>


</table>
